<h2>New Budget</h2>
<form role="form" method="post" action="/budget/new" class="form-horizontal">
  <br />
  <label class="control-label">Budget Period</label>
  <br />
  <label class="col-sm-2 control-label" for="from">From</label>
  <input class="col-sm-3" type="text" name="from">
  <label class="col-sm-1 control-label" for="to">To</label>
  <input type="text" name="to">
  <br />
  <br />
  <label class="control-label" for="amount">Spending limit</label>
  <input type="text" name="spending_limit"> £
  <div class="form-group">
    <br />
    <br />
    <button class="btn btn-success" type="submit">Create budget</button>
  </div>
</form>
