<!DOCTYPE html>
<html>
  <head>
    <title>
      Shekel Tracker
    </title>
    <meta name="viewport" content="width=device-width", intial-scale=1.0">
    <meta name="author" content="Carine Vunabandi">
    <meta content="Type=text/html;charset=utf8" http-equiv="Content-Type">

    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/css/custom.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <nav class=navbar role="navigation">
    <div class="container" id="navigation">
      <a class="navbar-brand" href="/"><img src="/images/shekel_tracker_logo.png" alt="Shekel Tracker logo" width="290" height="110"></a>
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav pull-right">
          <li><a href="/">Home</a></li>
          <li><a href="/budget/current">Current Budget</a></li>
          <li><a href="/budget/past">Past Budgets</a></li>
        </ul>
      </div>
      <hr>

      <div class="container" id="content">
        <% if flash[:success] %>
          <div class="alert alert-success"><%= flash[:success] %></div>
        <% end %>

        <%= yield %>
      </div>

      <div class="footer"
        <div class="container">
          <hr>
          <p style="text-align:center; padding-right:20px">
          Developped by <a href="mailto:carinevun@yahoo.com?Subject=Shekel Tracker" rel="author">Carine Vunabandi</a>
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
