<!DOCTYPE html>
<html>
  <head>
    <title>
      Shekel Tracker
    </title>
    <meta name="viewport" content="width=device-width", intial-scale=1.0">
    <meta name="author" content="Carine Vunabandi">
    <meta content="Type=text/html;charset=utf8" http-equiv="Content-Type">
  </head>
  <body>
    <div>
      <h1>Shekel Tracker</h1>
      <h3>Keeping count of your bucks</h3>
    </div>
    <div>
      <ul>
        <li><a href="/view_current">This Month's Budget</a></li>
        <li><a href="/view_previous">View Previous Budgets</a></li>
      </ul>
    </div>
    <%= yield %>
</html>
